#background1{
  width : 1920px ;
  height : 1080px ;
  border : 0;
  position : absolute;
  background-image : url(底圖1.png) ;
}

.content{
  font-size : 24 ;
  font-family : Arial ;
  color : black ;
  position : absolute ;
  left : -30% ;
  top : 100px ;
}
.background2{
  width : 1920px ;
  height : 1080px ;
  border : 0;
  position : absolute;
  background-image : url(底圖1.png) ;
  display:none;
}
.background3{
  width : 1920px ;
  height : 1080px ;
  border : 0;
  position : absolute;
  background-image : url(底圖3.png) ;
  display:none;
}
.content2{
  font-size : 24 ;
  font-family : Arial ;
  color : black ;
  position : absolute ;
  left : -30% ;
  top : 100px ;
}
.boat_down{
  position : relative ;
  width : 160px ;
  height : 110px ;
}
.boat_up{
  position : relative ;
  width : 160px ;
  height : 110px ;
  //display:none;
  opacity: 0;
}
